@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;

}

body{
    font-family: "Rubik";
}

.container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: min-content 1fr min-content;
    margin-bottom: 8rem;

}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    width: calc(100% - 30rem);
  
	
    
}

.container-arrows{
    display: flex;
    gap:.3rem;
   
    /* color: #fff;
    cursor: pointer; */

}

.container-arrow-left, .container-arrow-right {
    background-color: rgb(209, 155, 155);
    width: 3rem;
    height: 3rem;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
    color: #fff;
    background-color: rgba(0,0,0,.7);
    border: none;
    font-size: 1.4rem;

}

.divider{
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

.buttons-user{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.btn-primary{
    color: var(--text-subdued,#6a6a6a);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.btn-primary:hover{
    color: #fff;
    transform: scale(1.04);

}

.btn-full{
    text-decoration: none;
    background-color: #fff;
    color: #000;;
    font-size: 1.4rem;
    padding: 1.3rem 2rem ;
    border-radius: 2.2rem;
    font-weight: 500;

}

.btn-full:hover{
    transform: scale(1.05);
}

/* SideBar */

.navbar{
    color: #b3b3b3;
    background-color: #121212;
    padding-top: 2.5rem;
    grid-row: 1/3;
	grid-column: 1/2;
    display: flex;
	flex-direction: column;
	gap: 4rem;
	position: fixed;
	width: 30rem;
	height: calc(100vh - 8rem);
}

.nav-main {
	padding: 0 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.nav-main li {
	list-style: none;
}

.nav-main li a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #b3b3b3;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-weight: 700;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}

.nav-main li a i {
	font-size: 2rem;
}

/* Extra OS */
.container-os-playlist{
	display: flex;
    border-radius: 8px;
    gap: 5rem;
    justify-content: center;
    width: 29rem;
    height: 12rem;
    background-color: #201d1d;;
 
}

.container-os-playlist div {
    margin: 1rem 1rem;
  }

.container-os-playlist span{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    gap:1rem;
    
    
}

.container-os-playlist p{
    font-size: 1.3rem;
}

.btn-secundary{
    text-decoration: none;
    background-color: #fff;
    color: #000;;
    font-size: 1.4rem;
    padding: 1.2rem 2rem ;
    border-radius: 2.2rem;
    font-weight: 600;
}
    
.btn-secundary:hover {
    transform: scale(1.05);

}

.btn-language {
	border: 1px solid #727272;
	background: none;
	color: #fff;
	padding: 1rem;
    width: 22rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn-language:hover {
	transform: scale(1.05);
}


